{% extends "layout.html" %}
{% load static %}
{% load paginator %}
{% load text_filters %}

{% block content %}
<div class="feed">
    <aside class="feed-sidebar">
        <div class="feed-sidebar-block">
            <ul class="feed-sidebar-list feed-sidebar-menu">
                <li>
                    <a href="{% url "index" %}">
                        🏠 Главная
                    </a>
                </li>
                <li>
                    <a href="{% url "people" %}">
                        🌍 Люди
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    <div class="feed-main">
        {% block feed_content %}
        {% endblock %}
    </div>
</div>
{% endblock %}
